{% extends "base.html" %}

{% block content %}
<div class="verse-of-the-day">
    <h1>Verse of the Day</h1>
    <div id="bible-verse" class="verse-container"></div>
    <script src="https://www.biblegateway.com/votd/votd.write.callback.js"></script>
    <script src="https://www.biblegateway.com/votd/get/?format=json&version=NIV&callback=BG.votdWriteCallback"></script>
    <noscript>
        <iframe framespacing="0" frameborder="no" src="https://www.biblegateway.com/votd/get/?format=html&version=NIV">View Verse of the Day</iframe>
    </noscript>
</div>
{% endblock %}
